.box {
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 1rem;
    background: #eee;
    text-align: center;
}
.box span {
    font-weight: bold;
    display: block;
}

.like-table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}
.like-table th, .like-table td,.like-table input {
    text-align: center !important;
    border-collapse: collapse;
    border: none;
    outline: none;
}

.like-table i {
    font-size: 1.5rem;
}
